
 ::-webkit-scrollbar {width:0}			/* hide bright white scrollbar */


.vid {
  margin:auto;
  opacity:0.8;
  transition:1.5s;
  border-radius:0.5em}
.vid:hover {transition:3s; scale:2; opacity:1}

.seek {
  position:absolute;
  display:block;
  left:24em;
  border-radius:1em;
  opacity:0} 

.thumb {
  margin:auto;
  opacity:0.8;
  transition:1.5s;
  border-radius:0.5em}
.thumb:hover {transition:3s; scale:2; opacity:1}

.ribbon {					/* menu, fol, fav, search ... */
  display:flex;
  position:relative;
  text-align:center;
  margin:auto;
  align-items:center;
  font-size:1em;
  justify-content:space-evenly}

.ribbon a {transition:0.8s; border-radius:1em}
.ribbon a:hover {transition:0.2s; transform:scale(1.2,1.2); translate(0,-0.1em)}

.thumblist {					/* list thumbs	*/
  opacity:0;
  background:transparent;
  transition:1.5s}
.thumblist:hover {opacity:1}

.myList {					/* list view	*/
  position:relative;
  overflow:hidden;
  overflow:scroll;
  margin-left:1em;
  scroll-behavior:smooth;
  height:50em}

.panel {					/* top panel element showing folders etc.*/
  display:grid;
  position:absolute;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
  padding:1.5em;
  margin:auto;
padding-left:6em;
align-content:center;
align-items:center;
  overflow-wrap:break-word;
  white-space:nowrap;
  overflow:hidden;
  transition: 0.4s;
  font-size:0.85em;
  color:#555351; 
  height:6em;
  width:100%;
  z-index:-1;
  opacity:0;
  background:#15110a}

.searchbox {					/* input searchbox in htm tab	*/
  text-overflow:ellipsis;
  overflow:hidden;
  margin-bottom:1em;
  border-radius:1em 0 0 1em;
  text-align:center;
  background-color:#1b1814;
  color:#826858;
  font-family:inherit;
  border:none;
  height:1.2em;
  width:100%;
  outline:none;
  transition:color 1.4s;
  white-space:nowrap}

.title {
  display:flex;
  overflow:hidden;
  text-overflow:ellipsis; 
  background-color:inherit;
  font-size:inherit;
  font-family:inherit;
  text-align:left;
  width:20em;
  color:inherit;
  outline:none;
  border:none;
  height:0.8em;
  white-space:nowrap}

.selected {
  display:block; 
  position:absolute;
  z-index:999;
  color:red;
  width:2em;
  height:2em;
  font-size:1.4em}

.seekbar {					/* video progress bar	*/
  position:absolute;
  opacity:0;
  border-radius:1px;
  color:lightsalmon;
  font-size:2em;
  border-top:2px solid lightsalmon;
  transition:0.2s}

.caption {
  display:none;
  position:fixed;
  z-index:4;
  resize: none;
  height:auto;
  width:24em;
  background-color:inherit;
  font-family:inherit;
  border:none;
  outline:none;
  opacity:0;
  overflow:hidden;
  user-select:none;
  color:burlywood;
  border-radius:1em;
  font-size:1.4em;
  transition:0.6s}

.modal {					/* media player overlay htm tab */
  display:flex;
  z-index:-1;
  opacity:0;
  user-select:none;
  position:fixed;
  justify-content:center;
  align-items:center;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.4)}

.context {					/* right click menu */
  display:none;
  z-index:888;
  position:fixed;
  font-size:1.4em;
  transition:0.14s;
  background-color:rgba(0,0,0,0.4)}

.context a {
  display:block;
  height:1em;
  padding-left:1.2em;
  padding-right:1.2em;
  padding-bottom:0.6em;
  color:lightsalmon}
.context a:hover {background-color:#222222}

.container {					/* whole body element*/
  font-family:'Yu Gothic', 'Calibri Light';
  cursor:default;
  padding-top:5em;
  background:#15110a;
  user-select:none;
  color:#826858;
  font-size:0.8em;
  animation-name:fadePage;
  animation-duration:0.6s}

  td {outline:none; text-align:center; width:4em; overflow:hidden; white-space:nowrap}
  table {color:#555351; font-size:0.9em; border-collapse: collapse}
  table:hover {color:tomato;transition:color 0.2s}
  a {text-decoration:none; color:#826858}
  a:hover {color:tomato;transition:color 0.2s}
  input:hover {color:tomato;transition:color 0.2s}
  @keyframes fadePage {from {opacity:0} to {opacity:1}}

