
  ::placeholder {color: lightsalmon}
  ::selection {color: #cccccc; background: #222222}
  ::-webkit-search-cancel-button {appearance: none}
  ::-webkit-scrollbar {background: #0e0c05; width: 6px}
  ::-webkit-scrollbar-corner {background: #0e0c05}
  ::-webkit-scrollbar-thumb {background: #1b1814; border-radius: 2px}
  ::-webkit-resizer {background: transparent}
  @supports (not selector(::-webkit-scrollbar)) {html {scrollbar-color: #2b2824 #0e0c05}}
  td {outline: none; text-align: center; min-width: 3.8em; font-size: 0.9em; overflow: hidden; white-space: nowrap; border-radius :1em}
  table {color: #826858; border-collapse: collapse; margin: auto; border-radius: 1em; transition: color 0.3s}
  table:hover {background: #1b1814}
  a {color: #826858; text-decoration: none; outline: none}	/* default text */
  c {display: block; padding-left: 1em; text-decoration: none; font-weight: bold; color: #826858bb; transition: 1s} /* panel text */
  c:hover {transition: 0.2s; transform: scale(1.1,1.1); color: pink}
  c:active {color: #0e0c05; transform: scale(0.8,0.8)}
  video::-internal-media-controls-overlay-cast-button {display: none}		/* block google casting	*/


  #editor { box-sizing:border-box; display:none; flex-direction:column; width:500px; max-width:100%; height:24em;
    background:#080808; border-radius:12px; box-shadow:0 12px 32px rgba(0,0,0,0.6); font-size:16px; 
    position:fixed; left:50%; top:50%; transform:translate(-50%,-50%); z-index: 5002; cursor:text;
    min-width:250px; min-height:160px; resize:both; max-height:80vh; overflow:hidden;}

#ribbon {
  font-size:12px; 
  background:#080808; 
  display:flex; 
  align-items:center; 
  flex-wrap:wrap; 
  user-select:none; 
  flex-shrink:0; 
  justify-content: space-around;
  cursor:default;}

#voice-header {flex: 0 0 15%}
#media-header {flex: 0 0 30%; min-width: 0}
#search-header {flex: 0 0 30%}
#voice-header > .header {justify-content: center}

#media-header > .header > * { 
  display: inline-flex;
  color: #ffc0cb44; 
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 1;
  width: 100%;
  min-width: 0}

#voice-header .dropdown-content { height: 8em; padding: 0.5em 0.5em; line-height: 1.6; translate: 0 -2.2em; align-items: center}
#media-header > .header { padding: 0 0.2em; display: flex; color: #ffc0cb44; overflow-x: hidden;}
#media-header .dropdown-content { height: 8em; padding: 0.5em 0.5em; line-height: 1.2; translate: 0 -2.2em}
#media-header .dropdown-content > div:active {border-left: 1px solid red}
#voice-header .dropdown-content > div:active {border-left: 1px solid red}
#voice-header .dropdown-content > div {padding: 0 0.5em;}

  .dropdown { position:relative; display:inline-block;}
  .dropdown > .header {
    color: #ffc0cb99; border-radius:0.9em; height: 1.8em; background: #0f0e0e;
    white-space:nowrap; display:flex; cursor:default; }
  .dropdown-content {
    position: absolute; top:100%; min-width:50%; background: #0f0e0e;
    box-shadow:0 4px 12px rgba(0,0,0,0.5); border-radius: 6px;
    display:none; z-index:1; padding-bottom:8px;
    overflow-y:auto; flex-direction:column; gap:2px;}
  .dropdown-content > div {font-size:12.5px; white-space:nowrap; cursor:default; border-radius: 10px;}
  .dropdown-content > div:hover { color: #ffc0cbaa; background: black; }
  .dropdown-content > div:active { color: #ffc0cb; background: #2f2e2e; }

  .caption-viewport {
    flex:1;
    gap: 0.4em;
    overflow-y:auto; 
    padding: 6em 1.6em 7em 1.6em; 
    display:flex; 
    flex-direction:column; 
    min-height:0;
    scrollbar-width:thin; 
    scrollbar-color:#ffc0cb20 transparent; 
    overflow-x: hidden;
    position: relative;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black        6%,
      black        94%,
      transparent  100%)}

  .text-block {
    position: relative; background:transparent; border-radius:0.7em; white-space:pre-wrap; transition: 0.42s;
    word-wrap:break-word; font-family:'Yu Gothic'; line-height:1.5; margin: 0; padding: 1.2em; min-width: 90%;
    color:#ffc0cb80; text-align:center; outline:none; width: auto; align-self: center; border: 0;}

  .text-block[data-fav="1"]::after {
    content: '❤';
    position: absolute;
    color: #ffc0cb;
    top: 0.4em;
    left: 0.6em;
    font-size: 0.5em;
    z-index: 3;
    pointer-events: none}

  .text-block.editing { background: #0e0d0e; color: #ffc0cbaa; transform: scale(1.07, 1.07) }

  .text-block[data-has-voice].editing::before {
    content: '';
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 0.4em;
    height: 4px;
    border-radius: 1px;
    background: linear-gradient(to right, #ffc0cb20 0%, #ffc0cb20 50%, #ffc0cb0e 50%, #ffc0cb0e 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: calc(100% - var(--progress, 0%)) 0;
    transition: background-position 0.3s linear;
    z-index: 1}

    #id-display { 
      border:none; color:#ffc0cbaa; font-size:12px; display: none;
      outline:none; text-align:center; padding: 0 0.6em}

    #time-display {
      width:70px; color:#ffc0cbaa; border:none; outline:none; display: none;
      text-align:center; font-size:0.9em; font-family:inherit; border-radius:4px;}

    #myCancel {
      position: absolute; top: 2.5em; right: 1em; color: red; z-index:999;
      visibility:hidden; text-align:center; min-width:3.5em;
      transition:0.6s; background:#1a1a1a00; cursor:pointer; font-size: 1em;}
    #myCancel:hover { transform: scale(1.6,1.6); translate: 0 -0.2em}

    #search-header {
      width: 12em;
      max-width: 12em;
      border-radius: 0.9em;
      overflow: hidden;
      display: flex;
      background:#0f0e0e;
      align-items: center;
      padding: 0 6px;
      cursor: text;
      height: 1.8em;
      transition: 0.2s;
      white-space:nowrap;}
    #search-header:hover { transform: scale(1.14,1.14) }

    #caption-search-input {
      width: 8em;
      background: transparent;
      color: #ffc0cbaa; 
      border: none;
      outline: none;
      font-size: 13px;}
    #caption-search-input::placeholder { color: #ffc0cb44; transition: color 1s; }
    #caption-search-input:focus::placeholder { color: transparent }
    #search-match-count { color: #ffc0cbaa; font-size: 0.8em; margin-left: auto;}
    mark { background: inherit; color: #ffc0cb }

.player, .vig {
  position: absolute;
  opacity: 0;
  z-index: 5003;
  padding: 0.1em;
  visibility: hidden;
  border-radius: 2.4em}

.vig {
  --scale: 20px;
  z-index: 5004;
  pointer-events: none;
  background: transparent;
  border-radius: 2.3em;
  box-shadow: inset 0 0 var(--scale) var(--scale) rgba(0, 0, 0, 1)}

#myDur {
  display: inline-block;
  transform: translate(0, -1.65em);
  line-height: 0.35em;
  font-size: 0.9em;
  color: pink;
  border-radius:0.5em;
  padding:0.3em;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 1)}

.title {					/* thumb title */
  display: block;
  position: absolute;
  left: 1.6em;
  padding: 0.3em;
  white-space: nowrap;
  font-variant-emoji: text;
  background: transparent;
  box-sizing: border-box;
  color: #826858;
  font-family: inherit;
  font-size: 1.1em;
  width: 74%;
  min-width: 1.3em;
  outline: none;
  outline-offset: -2px;
  height: 1.4em;
  border: none;
  margin: auto;
  transition: 0.3s;
  border-radius: 0.7em}
.title:hover {color: pink; background:#2b2824; transition: 1.4s; z-index: 99; overflow: visible}

.entry {
  max-width: var(--max-size);
  max-height: var(--max-size);
  position: relative;
  border-radius: 1em;
  overflow: visible;
  padding-bottom: 1.5em}

.thumb {					/* htm thumbs */
  --pop;
  --rate;
  --skinny;
  --posted;					/* edits sent to inca	*/
  box-sizing: border-box;
  border: 1px solid transparent;
  position: relative;
  margin: 0.4em;				/* do not use padding   */
  max-width: var(--max-size);
  max-height: var(--max-size);
  mask-image: linear-gradient(to top, black calc(100% - 8px), transparent 100%), linear-gradient(to left, black calc(100% - 8px), transparent 100%), linear-gradient(to right, black calc(100% - 8px), transparent 100%), linear-gradient(to bottom, black calc(100% - 8px), transparent 100%);
  mask-composite: intersect;
  outline: none;
  border-radius: 0.9em}

.thumb2 {					/* thumbs in list view  */
  position: absolute;
  pointer-events: none;
  translate: 6em -1em;
  max-width: var(--max-size);
  max-height: var(--max-size);
  border-radius: 1em;
  padding: 0.3em;
  margin: auto;
  opacity: 0}

.pic {						/* context menu pic */
  opacity: 0;
  display: block;
  z-index: 5007;
  position: absolute;
  background-size: 600%;			/* for thumb extraction from thumbSheet */
  background-repeat: no-repeat;
  box-shadow: inset 0 0 6px 6px rgba(14, 12, 5, 1);	/* also removes edge artifacts */
  outline: 3px solid #0e0c05;
  transform-origin: top left;
  transition: opacity 0.6s, transform 0.6s;
  // filter: blur(0.4vmin);
  pointer-events: none;
  border-radius: 0.9em}

.favicon {
  display: block;
  position: absolute;
  direction: rtl;
  overflow: visible;
  width: 1.1em;
  height:0;
  top: -0.9em;
  left: 0.8em;
  color: pink;
  font-size: 0.7em;
  opacity: 0.4;
  white-space: nowrap; 
  border-radius: 1em;
  transition: 0.2s}
.favicon:hover {color: red; opacity: 1; top: -1.8em; transform: scale(2,2)}
.favicon:empty {display:none}

.capButton {					/* buttons over caption */
  text-align: center;
  min-width: 1.6em;
  color: red;
  transition: 0.3s;
  background: inherit;
  font-size: 1.2em;
  border-radius: 1.6em}
.capButton:hover {color: red; transform: scale(1.8,1.8)}
.capButton:active {border: 0.1px solid transparent; background:red; transform: scale(1,1)}

.myPanel {
  position: fixed;
  left: 50%; 
  transform: translateX(-50%);
  top: 50px;
  width: 95%;
  max-width: 67em;
  background: #0e0c05}

.panel {					/* Top panel element showing folders etc. */
  position: relative;
  font-size: 1em;
  transform: translateX(-7%);
  white-space: nowrap;
  overflow: hidden;
  height: 7em;
  max-width: 69em;				/* critical for sizing	*/
  width: 95vw;
  box-sizing: border-box}

.innerPanel {					/* rotated child of myPanel */
  position: relative;
  overflow: hidden;
  scrollbar-width: none;
  transform: rotate(-90deg);
  transform-origin: right top;
  background: inherit;
  max-height: 65em;				/* critical	*/
  height: 90vw;
  width: 7em}
.innerPanel:hover {overflow-y: scroll; width:7.01em}	/* firefox bug	*/

.p2 {						/* panel entries */
  overflow: hidden;
  line-height: 1.5em;
  white-space: nowrap}
.p2:hover {overflow: visible}

.fade {						/* between menu and scrolled thumbs */
  position: absolute;
  display: block;
  width: 99.25vw;
  height: 0.8em;
  background: #0e0c05;
  pointer-events: none}

.mycontent {
  display: block;
  position: absolute;
  margin: auto;
  overflow-x: hidden; 
  height: 100%;
  width: 100%}

.myview {
  --max-size: 8em;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 200px;
  width: 40%;
  padding-top:4em;
  padding-bottom: 80vh}

.ribbon {					/* menu, fol, fav, search ... */
  position: relative;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  align-items: center; 				/* Center items vertically */
  justify-content: space-around;
  min-width: 46em;
  max-width: 70em;
  width: 90%;
  margin: auto;
  white-space: nowrap;
  line-height: 1.2em;
  border-radius: 1em;
  text-align: center;
  transition: 0.3s;
  padding: 0.1em; 
  margin-bottom: 0.4em;
  font-size: 0.9em}
.ribbon a {width: 5em; transition: 0.8s; border-radius: 1em}
.ribbon a:hover {transition: 0.2s; color: pink}

.searchbox {					/* input searchbox in htm tab */
  text-overflow: ellipsis;
  display: inline;
  width: 50%; 
  border-radius: 0.3em; 
  color: pink;
  border: none;
  translate: 0 -2px;
  background: inherit;
  font-weight: bold;
  font-size: 1em;
  font-family: inherit;
  height: 1.3em;
  outline: none;
  overflow: hidden;
  white-space: nowrap}

.selected {					/* red popup following cursor */
  display: block; 
  position: absolute;
  pointer-events: none;
  top: -100px;
  color: red;
  height: 2em;
  z-index: 5011;
  transition: font-size 0.5s;
  font-size: 1.8em}

.seekbar {					/* video progress bar */
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  height: 1px;
  opacity: 0;
  z-index: 5010;
  background: pink;
  transition: width 0.2s, opacity 1s}

.mask {						/* media player overlay of htm tab */
  display: flex;
  user-select: none;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.4s;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 4000;
  height: 100vh;
  width: 100vw;
  background: black}

.warning {
  color:red;
  text-align: center;
  pointer-events: none;
  transform: translateY(-2.1em);
  display: block}

.context {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  font-size: 1em;
  width: 105px;
  z-index: 5005;
  border-radius: 0.7em;
  background: #121010c0;}

.context a {
  display: block;
  padding: 0.08em;
  padding-left: 1em;
  color: lightsalmon;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 1.3em;
  text-overflow: ellipsis;}

#myNav[style*="display: block"] {opacity: 1; pointer-events: auto;}
.context a:hover {background: #23202180;}
.context a:active {border-left: 1px solid pink}
.menu {display: none;}
#myNav[style*="display: block"]:not(.editor-mode) .default {display: block;}
#myNav[style*="display: block"].editor-mode .editor {display: block;}

.submenu {
  position: absolute;
  left: 90%;
  top: 0;
  display: none;
  background: #121010c0;
  border-radius: 0.7em;
  max-height: 10em;
  overflow-y: auto;
  width: 8em;
}

#myEmotion:hover + .submenu,
.submenu:hover {
  display: block;
}

.context:not(:hover) .submenu {
  display: none;
}

.myBody {					/* whole body element */
  font-family: 'Yu Gothic', 'Calibri Light';
  background: #0e0c05;
  user-select: none;
  font-size: 0.85em;
  overflow: hidden;
  cursor: normal;
  margin: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #826858;
  transition: 0s}

