
  ::placeholder {color: lightsalmon}
  ::selection {color: #cccccc; background: #222222}
  ::-webkit-search-cancel-button {appearance: none}
  ::-webkit-scrollbar {background: #0e0c05; width: 6px}
  ::-webkit-resizer {background: #826858}
  ::-webkit-scrollbar-corner {background: #0e0c05}
  ::-webkit-scrollbar-thumb {background: #1b1814; border-radius: 2px}
  @supports (not selector(::-webkit-scrollbar)) {html {scrollbar-color: #2b2824 #0e0c05}}
  td {outline: none; text-align: center; min-width: 3.8em; overflow: hidden; white-space: nowrap; border-radius :1em}
  table {color: #826858; font-size: 0.9em; border-collapse: collapse; margin: auto; border-radius: 1em; transition: color 0.3s}
  table:hover {background: #1b1814}
  a {color: #826858; text-decoration: none; outline: none}	/* default text */
  c {display: block; padding-left: 1em; text-decoration: none; font-weight: bold; color: #826858bb; transition: 1s} /* panel text */
  c:hover {transition: 0.2s; transform: scale(1.1,1.1); color: pink}
  c:active {color: #0e0c05; transform: scale(0.8,0.8)}
  video::-internal-media-controls-overlay-cast-button {display: none}		/* block google casting	*/


.player, .vig {
  position: absolute;
  opacity: 0;
  z-index: 5003;
  padding: 0.1em;
  visibility: hidden;
  border-radius: 2.4em}

.vig {
  --scale: 20px;
  z-index: 5004;
  pointer-events: none;
  background: transparent;
  border-radius: 2.3em;
  box-shadow: inset 0 0 var(--scale) var(--scale) rgba(0, 0, 0, 1)}

#myDur {
  display: inline-block;
  transform: translate(0, -1.65em);
  line-height: 0.35em;
  font-size: 0.9em;
  color: pink;
  border-radius:0.5em;
  padding:0.3em;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 1)}

.title {					/* thumb title */
  display: block;
  position: absolute;
  left: 1.3em;
  padding: 0.3em;
  white-space: nowrap;
  background: transparent;
  box-sizing: border-box;
  color: #826858;
  font-size: 1em;
  font-family: inherit;
  width: 74%;
  outline: none;
  outline-offset: -2px;
  height: 1.4em;
  border: none;
  margin: auto;
  transition: 0.3s;
  border-radius: 0.6em}
.title:hover {color: pink; background:#2b2824; transition: 1.4s; z-index: 99; overflow: visible}

.entry {
  max-width: var(--max-size);
  max-height: var(--max-size);
  position: relative;
  border-radius: 1em;
  overflow: visible;
  padding-bottom: 1.5em}

.thumb {					/* htm thumbs */
  --size;
  --rate;
  --skinny;
  --posted;					/* edits sent to inca	*/
  box-sizing: border-box;
  border: 1px solid transparent;
  position: relative;
  margin: 0.4em;				/* do not use padding   */
  max-width: var(--max-size);
  max-height: var(--max-size);
  mask-image: linear-gradient(to top, black calc(100% - 8px), transparent 100%), linear-gradient(to left, black calc(100% - 8px), transparent 100%), linear-gradient(to right, black calc(100% - 8px), transparent 100%), linear-gradient(to bottom, black calc(100% - 8px), transparent 100%);
  mask-composite: intersect;
  outline: none;
  border-radius: 0.9em}

.thumb2 {					/* thumbs in list view  */
  position: absolute;
  pointer-events: none;
  translate: 6em -1em;
  max-width: var(--max-size);
  max-height: var(--max-size);
  border-radius: 1em;
  padding: 0.3em;
  margin: auto;
  opacity: 0}

.pic {						/* context menu pic */
  opacity: 0;
  display: block;
  z-index: 5007;
  position: absolute;
  background-size: 600%;			/* for thumb extraction from thumbSheet */
  background-repeat: no-repeat;
  box-shadow: inset 0 0 6px 6px rgba(14, 12, 5, 1);	/* also removes edge artifacts */
  outline: 3px solid #0e0c05;
  transform-origin: top left;
  transition: opacity 0.6s, transform 0.6s;
  // filter: blur(0.4vmin);
  pointer-events: none;
  border-radius: 0.9em}

.favicon {
  display: block;
  position: absolute;
  direction: rtl;
  overflow: visible;
  width: 1.1em;
  height:0;
  top: -1.5em;
  left: 0.8em;
  color: pink;
  font-size: 0.7em;
  opacity: 0.9;
  padding: 0.1em;
  white-space: nowrap; 
  border-radius: 1em;
  transition: 0.4s}
.favicon:hover {color: red}
.favicon:empty {display:none}

.capButton {					/* buttons over caption */
  text-align: center;
  min-width: 1.6em;
  color: red;
  transition: 0.3s;
  background: inherit;
  font-size: 1.2em;
  border-radius: 1.6em}
.capButton:hover {color: red; transform: scale(1.8,1.8)}
.capButton:active {border: 0.1px solid transparent; background:red; transform: scale(1,1)}

.myPanel {
  position: fixed;
  left: 50%; 
  transform: translateX(-50%);
  top: 50px;
  width: 95%;
  max-width: 67em;
  background: #0e0c05}

.panel {					/* Top panel element showing folders etc. */
  position: relative;
  font-size: 1em;
  transform: translateX(-7%);
  white-space: nowrap;
  overflow: hidden;
  height: 7em;
  max-width: 69em;				/* critical for sizing	*/
  width: 95vw;
  box-sizing: border-box}

.innerPanel {					/* rotated child of myPanel */
  position: relative;
  overflow: hidden;
  scrollbar-width: none;
  transform: rotate(-90deg);
  transform-origin: right top;
  background: inherit;
  max-height: 65em;				/* critical	*/
  height: 90vw;
  width: 7em}
.innerPanel:hover {overflow-y: scroll; width:7.01em}	/* firefox bug	*/

.p2 {						/* panel entries */
  overflow: hidden;
  line-height: 1.5em;
  white-space: nowrap}
.p2:hover {overflow: visible}

.fade {						/* between menu and scrolled thumbs */
  position: absolute;
  display: block;
  width: 99.25vw;
  height: 0.8em;
  background: #0e0c05;
  pointer-events: none}

.mycontent {
  display: block;
  position: absolute;
  margin: auto;
  overflow-x: hidden; 
  height: 100%;
  width: 100%}

.myview {
  --max-size: 8em;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 200px;
  width: 40%;
  padding-top:5em;
  padding-bottom: 80vh}

.ribbon {					/* menu, fol, fav, search ... */
  position: relative;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  align-items: center; 				/* Center items vertically */
  justify-content: space-around;
  min-width: 46em;
  max-width: 70em;
  width: 90%;
  margin: auto;
  white-space: nowrap;
  line-height: 1.2em;
  border-radius: 1em;
  text-align: center;
  transition: 0.3s;
  padding: 0.1em; 
  margin-bottom: 0.4em;
  font-size: 0.9em}
.ribbon a {width: 5em; transition: 0.8s; border-radius: 1em}
.ribbon a:hover {transition: 0.2s; color: pink}

.searchbox {					/* input searchbox in htm tab */
  text-overflow: ellipsis;
  display: inline;
  width: 50%; 
  border-radius: 0.3em; 
  color: pink;
  border: none;
  translate: 0 -2px;
  background: inherit;
  font-weight: bold;
  font-size: 1em;
  font-family: inherit;
  height: 1.3em;
  outline: none;
  overflow: hidden;
  white-space: nowrap}

.selected {					/* red popup following cursor */
  display: block; 
  position: absolute;
  pointer-events: none;
  top: -100px;
  color: red;
  height: 2em;
  z-index: 5011;
  transition: font-size 0.5s;
  font-size: 1.8em}

.seekbar {					/* video progress bar */
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  overflow: visible;
  width: 0;
  height: 1px;
  opacity: 0;
  z-index: 5010;
  background: pink;
  transition: opacity 1s}

.mask {						/* media player overlay of htm tab */
  display: flex;
  user-select: none;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.4s;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100vw;
  background: black}

.warning {
  color:red;
  text-align: center;
  pointer-events: none;
  transform: translateY(-2.1em);
  display: block}

.context {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  font-size: 1em;
  width: 105px;
  z-index: 5005;
  border-radius: 0.7em;
  background: #121010c0;}

.context a {
  display: block;
  padding: 0.08em;
  padding-left: 1em;
  color: lightsalmon;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 1.3em;
  text-overflow: ellipsis;}

#myNav[style*="display: block"] {opacity: 1; pointer-events: auto;}
.context a:hover {background: #23202180;}
.context a:active {border-left: 1px solid pink}
.menu {display: none;}
#myNav[style*="display: block"]:not(.editor-mode) .default {display: block;}
#myNav[style*="display: block"].editor-mode .editor {display: block;}

.myBody {					/* whole body element */
  font-family: 'Yu Gothic', 'Calibri Light';
  background: #0e0c05;
  user-select: none;
  font-size: 0.8em;
  overflow: hidden;
  cursor: normal;
  margin: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #826858;
  transition: 0s}

