
  ::selection {color:red; background:black}
  ::-webkit-search-cancel-button {appearance:none}
  ::-webkit-scrollbar {background:#15110a; width:4px}
  ::-webkit-resizer {background:#826858}
  ::-webkit-scrollbar-corner {background:#15110a}
  ::-webkit-scrollbar-thumb {background:#2b2824; border-radius:2px}
  @supports (not selector(::-webkit-scrollbar)) {html {scrollbar-color:#2b2824 #15110a}}
  td {outline:none; text-align:center; min-width:3.8em; overflow:hidden; white-space:nowrap}
  table {color:#826858; font-size:0.9em; border-collapse:collapse; margin:auto; border-radius:1em; transition:color 0.3s}
  table:hover {background:#1b1814}
  a {color:#826858; text-decoration:none}						/* default text */
  c {display:block; padding-left:1em; text-decoration:none; font-weight:bold; color:#826858; transition:1s} /* panel text */
  c:hover {transition:0.2s; transform:scale(1.1,1.1); color:lightsalmon}
  c:active {color:red; transform:scale(0.8,0.8)}
  d {display:block; width:4em; font-size:0.7em; text-align:center; transition:0.1s}	/* play at subtitle icon */
  d:hover {color:salmon; opacity:1}
  d:active {opacity:0.4}

.fadeout {					/* between top panel and scrolled thumbs */
    position:relative; 
    margin-bottom:-2em;
    pointer-events:none;
    height:1em;
    width:100%;
    background:linear-gradient(#15110aff, #15110a00)}

.pic {						/* context menu pic */
  --start;					/* default start time */
  background-size:600%;
  background-repeat:no-repeat;
  position:absolute;
  margin-left:4em;
  margin-top:1em;
  transition:opacity 0.3s, transform 0.3s;
  border-radius:7%}

.save {						/* save button over textarea */
  display:none;
  position:absolute;
  text-align:center;
  border:0.1px solid red;
  border-radius:0.8em;
  padding-left:0.4em;
  padding-right:0.5em;
  bottom:5px;
  right:10px;
  color:salmon;
  transition:0.6s;
  background:#1b1814;
  height:1.6em;
  font-variant-caps:petite-caps}
.save:hover {border:1px solid salmon; transform:scale(1.2,1.2)}
.save:active {background:salmon; transform:scale(0.7,0.7)}

.text {						/* editable text area */
  position:relative;
  background-color:inherit;
  color:#826858;
  height:16em;
  width:70em;					/* becomes max width */
  line-height:1.2em;
  font-family:inherit;
  font-size:1em;
  margin:auto;
  overflow:hidden;
  overflow-y:scroll;
  border:none;
  padding:0.4em;
  outline:none}
.text::-webkit-scrollbar {width:6px}

.player {					/* media player element */
  position:absolute;
  opacity:0;
  border-radius:3%}

.mycontent {
  display:block;
  position:absolute;
  margin:auto;
  overflow-x:hidden;
  box-sizing:border-box; 
  height:100%;
  width:100%}

.myview {
  display:flex;
  position:relative; 
  outline:none;
  margin:auto;
  justify-content:space-around;
  flex-wrap:wrap;
  padding-top:8.5vh;
  padding-bottom:60vh;
  overflow-x:hidden}

.entry {
  display:block;
  position:relative;
//  max-height:22em;
// overflow:hidden;
  border-radius:1em;
  padding:0.3em;
  padding-top:1em}

.myPanel {					/* top panel element showing folders etc.*/
  position:relative;
  width:100%;
  font-size:0.9em;
  white-space:nowrap;
padding:0.6em;
  overflow:hidden;
  height:6.5em}

.panel {					/* inner rotated element of myPanel */
  height:70em;
  position:absolute;
  overflow:hidden;
  scrollbar-width:none;
  transform:rotate(-90deg);
  transform-origin:right top;
  background:inherit;
  width:9em;					/* entry width	*/
  left:-9%}
.panel:hover {overflow-y:scroll}

.p2 {						/* panel entries */
  overflow:hidden;
  white-space:nowrap}
.p2:hover {overflow:visible}

.thumb {					/* thumb view media */
  --view;
  --rate;
  --start;					/* default start time */
  --skinny;					/* java variables attached to element */
  position:relative;
  outline:none;
  margin:auto;
  max-width:8em;
  border-radius:1em}

.thumb2 {					/* list view pop up thumbs */
  position:absolute;
  pointer-events:none;
  translate: 6em;
  width:14em;
  border-radius:1em;
  padding:0.3em;
  margin:auto;
  opacity:0}

.ribbon {					/* menu, fol, fav, search ... */
  position:relative;
  display:flex;
  font-weight:bold;
  justify-content:space-around;
  width:100%;
  white-space:nowrap;
  border-radius:1em;
  text-align:center;
  transition:0.3s;
  font-size:1em}
.ribbon a {width:9%; transition:0.8s; border-radius:0.32em}
.ribbon a:hover {transition:0.2s; color:salmon}

.searchbox {					/* input searchbox in htm tab */
  text-overflow:ellipsis;
  display:inline;
  width:45%; 
  translate: 0 2px;
  border-radius:1em; 
  color:salmon;
  background:inherit;
  font-weight:bold;
  font-size:1=em;
  font-family:inherit;
  border:none;
  height:1.3em;
  outline:none;
  overflow:hidden;
  white-space:nowrap}

.title {					/* file name element */
  display:flex;
  overflow:hidden;
  text-overflow:ellipsis;
  background-color:inherit;
  color:#ffa07a44;
  font-size:inherit;
  font-family:inherit;
  border-radius:1em;
  width:100%;
  outline:none;
  height:1.4em;
  border:none;
  transition:0.6s;
  white-space:nowrap}
.title:hover {color:salmon; overflow:visible}

.selected {					/* red popup following cursor */
  display:block; 
  position:absolute;
  z-index:999;
  color:red;
  height:2em;
  transition:font-size 0.5s;
  font-size:1.2em}

.seekbar {					/* video progress bar */
  position:absolute;
  pointer-events:none;
  z-index:999;
  height:0;
  border-radius:2px;
  color:lightsalmon;
  font-size:1.4em;
  border-top:5px solid red;
  transition: opacity 0.6s}

.cap {						/* htm caption element */
  overflow:wrap;
  white-space:nowrap;
  padding-left:1em;
  color:#ffa07ab0;
  display:block;
  position:absolute;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height:1.4em}

.caption {					/* myPlayer caption element */
  position:absolute;
  resize:none;
  height:auto;
  width:24em;
  background-color:inherit;
  font-family:inherit;
  color:#ffa07ab0;
  border:none;
  outline:none;
  opacity:0;
  overflow:hidden;
  user-select:none;
  font-size:1.6em;
  line-height:1.2em;
  transition: 0.6s}

.mask {						/* media player overlay of htm tab */
  display:none;
  user-select:none;
  position:fixed;
  transition:opacity 0.65s;
  opacity=0;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background:black}

.context {					/* right click menu */
  display:none;
  opacity:0;
  transition:opacity 0.5s;
  z-index:888;
  max-width:19em;
  position:fixed;
  font-size:1em;
  font-variant-caps:petite-caps;
  border-radius:0.7em;
  background:#15110acc}
.context:hover {opacity:1}

.context a {
  display:block;
  width:5.5em;
  height:1em;
  padding:0.2em;
  padding-right:0;
  border-radius:1em;
  color:lightsalmon}
.context a:hover {background:#1b1814}
.context a:active {background:#333333}

.container {					/* whole body element */
  font-family:'Yu Gothic', 'Calibri Light';
  background:#15110a;
  user-select:none;
  font-size:0.8em;
  margin:0;
  width:100%;
  height:100%;
  overflow:hidden;
  color:#826858;
  opacity:0;
  transition:0s}

