
<style>

.ribbon2 {
  display:flex;
  position:relative;
  text-align:center;
  align-items:center;
  margin-left:1em;
  font-size:1em;
  justify-content:space-between;
  width:560px}

.ribbon2 a {border-radius:1em}

.ribbon {
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:center;
  text-overflow:ellipsis;
  overflow:hidden;
  color:#826858;
  outline:none;
  font-size:1.1em;
  transition:color 1.4s;
  white-space:nowrap;
  height:30px;
  width:12%}

.searchbox {
  text-overflow:ellipsis;
  overflow:hidden;
  margin-top:0.4em;
  margin-bottom:1em;
  border-radius:1em 0 0 1em;
  text-align:center;
  background-color:#1b1814;
  color:#826858;
  font-family:inherit;
  border:none;
  height:1.1em;
  outline:none;
  transition:color 1.4s;
  white-space:nowrap;
  width:550px}

.panel {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
  padding:2em;
  color:#826858;
  overflow-wrap:break-word;
  white-space:nowrap;
  overflow:hidden;
  transition: 0.2s;
  font-size:0.85em;
  height:6em;
  opacity:0;
  width:580px;
  background-color:inherit}

.panel:hover {opacity:1}

.thumblist {opacity:0; transition:0.1s; border-radius:3`%}
.thumblist:hover {opacity:1}

.player {
  position:absolute;
  user-select:none;
  border-radius:2%}

.seekbar {
  display:block;
  position:absolute;
  opacity:0;
  border-radius:1px;
  border:1px solid lightsalmon;
  transition:0.2s}

.seek {
  position:absolute;
  user-select:none;
  border-radius:6%;
  max-width:160px;
  max-height:120px;
  transition:opacity 1s}

.thumbs {
  display:inline-block;
  vertical-align:top;
  position:relative;
  border-radius:6%;
  outline:none;}

.caption {
  display:none;
  position:fixed;
  z-index:4;
  resize: none;
  height:auto;
  width:24em;
  background-color:inherit;
  font-family:inherit;
  border:none;
  outline:none;
  opacity:0;
  overflow:hidden;
  user-select:none;
  color:burlywood;
  transition:1s;
  border-radius:5%;
  font-size:1.4em}

.modal {
  display:none;
  transition:opacity 0.4s;
  user-select:none;
  position:fixed;
  justify-content:center;
  align-items:center;
  z-index:40;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:black}

a {text-decoration:none; color:#826858}
a:hover {color:tomato;transition:color 0.36s}
table:hover {color:tomato;transition:color 0.36s}

table {
  color:#826858;
  transition:color 1.4s;
  table-layout:fixed;
  border-collapse: collapse}

.stat {
  position:fixed;
  left:0;
  width:2.5em;
  opacity:0;
  color:lightsalmon;}

.stat:hover {color:red; opacity:1} 

.sidenav {
  left:0;
  display:none;
  position:fixed;
  width:5em;
  font-size:1.2em;}

.sidenav a {
  display:block;
  font-size:1.2em;
  text-align:left;
  color:lightsalmon;}

.statnav:hover .sidenav {display:block}
.sidenav a:hover {color:tomato}
.sidenav a:active {background-color:#333333}

.container {
  font-family:'Yu Gothic', 'Calibri Light';
  cursor:default;
  padding-top:6em;
  padding-bottom:40em;
  user-select:none;
  background:#15110a;
  color:#666666;
  font-size:0.8em;
  animation-name:fadePage;
  animation-duration:0.6s}

  @keyframes fadePage {from {opacity:0} to {opacity:1}}

</style>

