
::-webkit-scrollbar {width:0}			/* hide bright white scrollbar */




.prev {
  max-height:150px;
  max-width:150px;
  margin:22%;
  scale:1 1;
  transform:rotate(90deg);
  border-radius:9%;
  transition:1s;
  opacity:0.5}
.prev:hover {scale:1.2 1.2; opacity:1}

.preview {
  position:fixed; 
  bottom:0;
  opacity:0;
  z-index:300; 
  width:100%;
  background:#15110a;
  transition:0.5s;
  max-height:120px}
.preview:hover {opacity:1}

.thumb {
  position:absolute;
  scale:1 1;
  opacity:0.8;
  transition:0.3s;
  border-radius:9%}
.thumb:hover {scale:1.5 1.5; opacity:1; transition:1s}

.thumblist {					/* media list view	*/
  position:absolute;
  opacity:0;
  scale:1 1;
  left:6.2em;
  max-width:12em;
  border-radius:9%;
  transition:0.3s}
.thumblist:hover {scale:1.1 1.1; opacity:1; transition:1s}

.thumbs {
  display:flex;
  flex-wrap:wrap;
  width:90%;
  margin-left:5%;
  justify-content:space-around}

.thumb_container {				/* around thumbnail in htm tab */
  display:inline-block;
  padding:0.3em;
  padding-bottom:2em;
  text-align: center;
  position:relative}

.title {
  display:grid;
  overflow:hidden;
  text-align: center;
  text-overflow:ellipsis;
  border-radius:1em;
  background-color:inherit;
  border:none;
  color:#826858;
  height:1em;
  font-family:inherit;
  outline:none;
  font-size:1em;
  transition:color 1.4s;
  white-space:nowrap;
  width:100%}

.selected {
  display:block; 
  position:absolute;
  z-index:999;
  color:red;
  width:2em;
  height:2em;
  font-size:1.4em}

.ribbon {					/* menu, fol, fav, search ... */
  display:flex;
  position:relative;
  text-align:center;
  margin:auto;
  align-items:center;
  margin-bottom:0.3em;
  font-size:1em;
  justify-content:space-evenly;
  width:100%}

.ribbon a {transition:0.8s; border-radius:1em}
.ribbon a:hover {
  transition:0.2s;
  transform:scale(1.2,1.2) translate(0,-0.2em)}

.searchbox {					/* input searchbox in htm tab	*/
  text-overflow:ellipsis;
  overflow:hidden;
  margin-top:0.4em;
  margin-bottom:0.4em;
  border-radius:1em 0 0 1em;
  text-align:center;
  background-color:#1b1814;
  color:#826858;
  font-family:inherit;
  border:none;
  height:1.2em;
  outline:none;
  transition:color 1.4s;
  white-space:nowrap;
  width:100%}

.panel {					/* top panel element showing folders etc.*/
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
  padding:2em;
  padding-left:8%;
  margin:auto;
  color:#826858;
  overflow-wrap:break-word;
  white-space:nowrap;
  overflow:hidden;
  transition: 0.2s;
  font-size:0.85em;
  height:6em;
  opacity:0;
  background-color:inherit}
.panel:hover {opacity:1}

.seekbar {					/* video progress bar	*/
  position:absolute;
  opacity:0;
  border-radius:1px;
  color:lightsalmon;
  font-size:2em;
  border-top:2px solid lightsalmon;
  transition:0.2s}

.seek {						/* moving seek thumbnail under video */
  position:absolute;
  opacity:0;
  user-select:none;
  border-radius:5%;
  max-width:160px;
  max-height:120px;
  transition:opacity 0.1s}

.caption {
  display:none;
  position:fixed;
  z-index:4;
  resize: none;
  height:auto;
  width:24em;
  background-color:inherit;
  font-family:inherit;
  border:none;
  outline:none;
  opacity:0;
  overflow:hidden;
  user-select:none;
  color:burlywood;
  border-radius:5%;
  font-size:1.4em;
  transition:0.6s}

.modal {					/* media player overlay htm tab */
  display:flex;
  z-index:-1;
  opacity:0;
  user-select:none;
  position:fixed;
  justify-content:center;
  align-items:center;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.4)}

table {						/* list view formatting */
  color:#555351;
  transition:color 1.4s;
  border-collapse:collapse}

.context {					/* right click menu */
  display:none;
  z-index:888;
  position:fixed;
  font-size:1.4em;
  transition:0.14s;
  background-color:rgba(0,0,0,0.4)}

.context a {
  display:block;
  height:1em;
  padding-left:1.2em;
  padding-right:1.2em;
  padding-bottom:0.6em;
  color:lightsalmon}
.context a:hover {background-color:#222222}

.container {					/* whole body element */
  font-family:'Yu Gothic', 'Calibri Light';
  cursor:default;
  padding-top:8em;
  background:#15110a;
  user-select:none;
  color:#666666;
  font-size:0.8em;
  animation-name:fadePage;
  animation-duration:0.6s}

  a {text-decoration:none; color:#826858}
  a:hover {color:tomato;transition:color 0.46s}
  input:hover {color:tomato;transition:color 0.46s}
  table:hover {color:tomato;transition:color 0.46s}
  @keyframes fadePage {from {opacity:0} to {opacity:1}}

