
 ::-webkit-scrollbar {width:0}			/* hide bright white scrollbar */


.thumb {
  margin:auto;
  cursor:default;
  opacity:0.7;
  transition:1.8s;
  border-radius:0.5em}
.thumb:hover {scale:1.5; opacity:1}

.ribbon {					/* menu, fol, fav, search ... */
  display:flex;
  position:relative;
  text-align:center;
  margin:auto;
  align-items:center;
  font-size:1em;
  justify-content:space-evenly;
  width:100%}

.ribbon a {transition:0.8s; border-radius:1em}
.ribbon a:hover {transition:0.2s; transform:scale(1.2,1.2); translate(0,-0.1em)}

.myList {					/* media list view	*/
  position:relative;
  overflow:hidden;
  overflow:scroll;
  height:30em;
  margin-left:2em}

.thumblist {					/* media list view	*/
  position:absolute;
  opacity:0;
  max-width:9em;
  margin-top:-5px;
  border-radius:9%;
  transition:0.8s}
.thumblist:hover {opacity:1}

.panel {					/* top panel element showing folders etc.*/
  display:grid;
  position:absolute;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
  padding-left:8em;
  margin:auto;
  color:#826858;
  overflow-wrap:break-word;
  white-space:nowrap;
  overflow:hidden;
  transition: 0.8s;
  font-size:0.85em;
  height:6em;
  width:90%;
  z-index:-1;
  opacity:0;
  background:#15110a}

.title {
  position:absolute;
  display:flex;
  overflow:hidden;
  text-align: center;
  border-radius:1em;
  background-color:inherit;
  border:none;
  color:#826858;
  font-family:inherit;
  outline:none;
  transition:1s;
  white-space:nowrap;
  width:100%}

.selected {
  display:block; 
  position:absolute;
  z-index:999;
  color:red;
  width:2em;
  height:2em;
  font-size:1.4em}

.searchbox {					/* input searchbox in htm tab	*/
  text-overflow:ellipsis;
  overflow:hidden;
  margin-top:0.4em;
  margin-bottom:0.4em;
  border-radius:1em 0 0 1em;
  text-align:center;
  background-color:#1b1814;
  color:#826858;
  font-family:inherit;
  border:none;
  height:1.2em;
  outline:none;
  transition:color 1.4s;
  white-space:nowrap;
  width:90%}

.seekbar {					/* video progress bar	*/
  position:absolute;
  opacity:0;
  border-radius:1px;
  color:lightsalmon;
  font-size:2em;
  border-top:2px solid lightsalmon;
  transition:0.2s}

.caption {
  display:none;
  position:fixed;
  z-index:4;
  resize: none;
  height:auto;
  width:24em;
  background-color:inherit;
  font-family:inherit;
  border:none;
  outline:none;
  opacity:0;
  overflow:hidden;
  user-select:none;
  color:burlywood;
  border-radius:1em;
  font-size:1.4em;
  transition:0.6s}

.modal {					/* media player overlay htm tab */
  display:flex;
  z-index:-1;
  opacity:0;
  user-select:none;
  position:fixed;
  justify-content:center;
  align-items:center;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.4)}

table {						/* list view formatting */
  color:#555351;
  transition:color 1.4s;
  border-collapse:collapse}

.context {					/* right click menu */
  display:none;
  z-index:888;
  position:fixed;
  font-size:1.4em;
  transition:0.14s;
  background-color:rgba(0,0,0,0.4)}

.context a {
  display:block;
  height:1em;
  padding-left:1.2em;
  padding-right:1.2em;
  padding-bottom:0.6em;
  color:lightsalmon}
.context a:hover {background-color:#222222}

.container {					/* whole body element */
  font-family:'Yu Gothic', 'Calibri Light';
  cursor:default;
  padding-top:14em;
  background:#15110a;
  user-select:none;
  color:#666666;
  font-size:0.8em;
  animation-name:fadePage;
  animation-duration:0.6s}

  a {text-decoration:none; color:#826858}
  a:hover {color:tomato;transition:color 0.46s}
  input:hover {color:tomato;transition:color 0.46s}
  table:hover {color:tomato;transition:color 0.46s}
  @keyframes fadePage {from {opacity:0} to {opacity:1}}

